name: Memory Benchmark - Windows Server 2025

on:
  workflow_dispatch:  # Manual trigger
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  benchmark-memory-2025:
    runs-on: windows-2025
    timeout-minutes: 30
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Memory Benchmark
        shell: pwsh
        run: |
          choco install 7zip -y
          & "C:\Program Files\7-Zip\7z.exe" b -mmt1  # Single thread
          & "C:\Program Files\7-Zip\7z.exe" b        # Multi-thread
